<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <!-- <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> -->
    <!-- <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p> -->
    <p><i class="fa fa-phone"></i>  +234 802 150 0111 </p>
    <p><i class="fa fa fa-envelope"></i> voizfonica@gmail.com  </p>
    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick Access</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="/venerate">VoizFonica Venerate</a></li>
    <li><a href="/recharge">Prepaid Recharge</a></li>
    <li><a href="/recharge">Postpaid Recharge</a></li>
    <li><a href="/recharge">Dongle Recharge</a></li>
    <li><a href="/simcard">Free Sim Delivery</a></li>
  
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">New Connections</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="/login">Manage Your Account</a></li>
    <li><a href="/portvoiz">Switch to VoizFonica</a></li>
    <li><a href="/prepaid">Prepaid New Connection</a></li>
    <li><a href="/postpaid">Postpaid New Connection</a></li>
    <li><a href="/dongle">Dongle New Connections</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Help at hand</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul_amrc">
    <li><a href="/contact">Feel Free to Contact</a></li>
    <li><a href="/about">About VoizFonica</a></li>
    <li><a href="#"></a></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="/dataprotection">DATA PROTECTION</a></li>
    <li><a href="/terms">TERMS OF USE</a></li>
    <li><a href="/service">SERVICES</a></li>
    <li><a href="/career">CAREERS</a></li>
    <li><a href="/contact">CONTACT US</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center" >Copyright @2022 | <a href="/home" style="text-decoration: none;">VOIZFONICA</a> All Rights Reserved.</p>
    
    <ul class="social_footer_ul">
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>