<app-header></app-header>
<section id="prepaid-main">
    <div class="container">
      <div class="row">
    <div class="col-lg-6" style="padding-left:10%;padding-top: 8%;">
      <div class="prepaid-flex">
        <div class="left">
            <!-- <a class="navbar-brand" href="/home"> <img src="\assets\logo1.png"  style="height: 50px; padding-right: 2px; "></a> -->
            <font color="white"> <h3>VoizFonica</h3></font>
            <i><h1>
                <span>v</span>
                <span>e</span>
                <span>n</span>
                <span>e</span>
                <span>r</span>
                <span>a</span>
                <span>t</span>
                <span>e</span>
              </h1></i>

            <br>

            <div style="padding-bottom: 5%;"></div>

            <div style="color: rgb(172, 196, 218); padding-top: 20%;"><h2>Introducing Voizfonica Venerate</h2>
            <h4>Combine two services in one</h4></div>
        </div>      
    </div>
    </div>
</div>
</div>
</section>

<section id="prepaid2">
  <div class="container">
    <div class="row">
      <div style="padding-top: 3%; padding-left: 8%;"><font color="white"><h2>VoizFonica Venerate Benefits</h2></font></div>
  <div class="col-lg-3" style="padding-left:10%;padding-top: 0%;">
    <div class="prepaid-flex">
        <div class="left">
      
          
          <br>
          <div style="font-size: 75px;"><i class="bi bi-file-earmark-lock2"></i></div>

          <p>One Bill & One call center</p>
           
      </div>
    </div>
  </div>
  <div class="col-lg-3" style="padding-left:10%;padding-top: 0%;">
    <div class="prepaid-flex">
        <div class="left">
          
          <br>
          <div style="font-size: 80px;"><i class="bi bi-person-check"></i></div>

          <p>Dedicated Relationship Team</p>
           
        </div>
    </div>
  </div>

  <div class="col-lg-3" style="padding-left:10%;padding-top: 0.5%;">
    <div class="prepaid-flex">
        <div class="left">
      
          
          <br>
          <div style="font-size: 70px;"><i class="bi bi-gear"></i></div>

          <p>Free Service Visits</p>
           
      </div>
    </div>
  </div>

  <div class="col-lg-3" style="padding-left:10%;padding-top: 0.5%;">
    <div class="prepaid-flex">
        <div class="left">
      
          
          <br>
          <div style="font-size: 65px;"><i class="bi bi-telephone"></i></div>

          <p>Call pick-up in 60 secs</p>
          
           
      </div>
    </div>
  </div>

  
</div>
</div>
</section>

<section id="prepaid3">
<div class="container">
<div class="row" style="padding-top: 10%;">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><i class='fas fa-rupee-sign'></i>699</h2><h5>Validity: 84 days</h5>
      <p class="card-text">
        <i class="bi bi-sim"></i>
        1 Regular SIM <br>
<i class='fas fa-phone-square-alt' style='font-size:16px'></i>
            Unlimited Local, STD & Roaming Calls
              <br>
              <i class='fas fa-comment-alt' style='font-size:16px'></i>
        100 SMS per day<br>

        <i class="bi bi-arrow-down-up"></i>50GB data Per Month<br>
        <i class="bi bi-wifi"></i>200GB   data rollover<br>
        <i class='fas fa-rupee-sign'></i>20/GB   for excess data<br>

        <i class="bi bi-plus-circle"></i>
                   Additional Benefits<br>
                   <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                    DisneyplusHotstart for 3 months 

          <!-- <span class="glyphicon glyphicon-plus"></span>
            Free Incoming Calls<br> -->
        </p>
          <a href="/recharge" class="btn btn-primary">Buy Plan</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><i class='fas fa-rupee-sign'></i>1,499</h3><h5>Validity: 365 days</h5>
          <p class="card-text">
            <i class="bi bi-sim"></i>
            1 Regular SIM <br>
            <!-- <i class="bi bi-wifi"></i>
            40 GB Per Month <br> -->
            <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
            Unlimited Local, STD & Roaming Calls
              <br>
              <i class='fas fa-comment-alt' style='font-size:16px'></i>
        150 SMS per day<br>

        <i class="bi bi-arrow-down-up"></i>75GB data Per Month<br>
        <i class="bi bi-wifi"></i>250GB   data rollover<br>
        <i class='fas fa-rupee-sign'></i>20/GB   for excess data<br>

        <i class="bi bi-plus-circle"></i>
                   Additional Benefits<br>
                   <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                    DisneyplusHotstart for 6 months 

          <!-- <span class="glyphicon glyphicon-plus"></span>
            Free Incoming Calls<br> -->
        </p>
          <a href="/recharge" class="btn btn-primary">Buy Plan</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><i class='fas fa-rupee-sign'></i>2,099</h3><h5>Validity: 365 days</h5>
            <p class="card-text">
                <i class="bi bi-sim"></i>
                1 Regular SIM <br>
                <!-- <i class="bi bi-wifi"></i>
                40 GB Per Month <br> -->
                <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                Unlimited Local, STD & Roaming Calls
                  <br>
                  <i class='fas fa-comment-alt' style='font-size:16px'></i>
            200 SMS per day<br>
    
            <i class="bi bi-arrow-down-up"></i>100GB data Per Month<br>
            <i class="bi bi-wifi"></i>300GB   data rollover<br>
            <i class='fas fa-rupee-sign'></i>15/GB   for excess data<br>

            <i class="bi bi-plus-circle"></i>
                   Additional Benefits<br>
                   <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                    DisneyplusHotstart for 12 months 
    
              <!-- <span class="glyphicon glyphicon-plus"></span>
                Free Incoming Calls<br> -->
            </p>
            <a href="/recharge" class="btn btn-primary">Buy Plan</a>
          </div>
        </div>
      </div>

    

  </div>
</div>
</section>
<br>
  <app-footer></app-footer>
