<app-header></app-header>
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel" style="padding-top: 3%;">
  <!-- <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1" class="active"  ></li>
     
  </ol> -->
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
              <div class="row p-5" style="background-image:url(https://hvac-img.scdn5.secure.raxcdn.com/img/news/920/smart-building-future-920x533.jpg);background-repeat: no-repeat;background-size: cover;">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <!-- <img class="img-fluid" src="https://i.ytimg.com/vi/iaaRJNKLCFQ/maxresdefault.jpg" style="border-radius:40%;height: 328px;" alt=""> -->
                  </div>
                  
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 text-success"><b><div style="color: rgb(255, 213, 164);"> VoizFonica</div></b></h1>
                          <h3 class="h2" > <div style="color: rgb(255, 239, 239); padding-bottom: 40%;"> Helping Businesses transform with voizfonica 5G <i class="bi bi-reception-4"></i></div> </h3>
      
                          <h5><div style="color: rgb(247, 240, 240);">
                           <!-- Superfast & Reliable <br>
                           <i class="bi bi-wifi"></i> Internet with up to 1 Gbps speed! <br>
                           Plan Starting at ₹239 -->
                           
                           
                          
                          </div></h5>
                          
                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5" style="background-image: url(https://www.teliacompany.com/contentassets/7a4500f7806e41fabb6ff587987c621b/digitalskills.png); background-repeat: no-repeat;background-size: cover;">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <!-- <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/001/222/566/original/female-delivery-person-concept-vector.jpg" style="border-radius:70%;" alt=""> -->
                  </div>

                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 text-success"><b><div style="color: rgb(255, 213, 164);"> VoizFonica</div></b></h1>
                          <h3 class="h2" > <div style="color: rgb(255, 239, 239); padding-bottom: 40%;"> Opening Up a world of digital possibilities </div> </h3>

                  <!-- <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1" style="color: black;"><i class="bi bi-house-heart-fill"></i>FREE DELIVERY FOR YOU</h1>
                          <h3 class="h2" style="color: rgb(102, 30, 30);">Get postpaid <i class="bi bi-sim-fill"></i> SIM at your doorstep & activate at home  </h3> -->
                          <!-- <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          </p> -->
                          <!-- <button type="button" class="btn btn-primary" href="" style="background-color: #da2727;">Buy Now</button> -->
                          <!-- <a href="/simcard" class="btn btn-primary" style="background-color: #f30707;" >Buy Now</a> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>

  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left" style="color: black; font-size: xx-large;"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3 " href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right" style="color: black; font-size: xx-large;"></i>
  </a>
</div>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8x3NAc6hDQ5em0qGyqz0K9PFScpjvPLVbN-chXe9dVGoYjerOB0A3cOwlGVT6WwS-loQ&usqp=CAU" alt="" width="90%" height="90%" style="padding-top: 8%;">
        </div>  
  <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;margin-top: -2%;">
    <div class="prepaid-flex">
      <div class="left">
        <h2 style="font-weight:bold">What is <span style="color:brown">VoizFonica</span> doing?</h2>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Voizfonica is a MobileNetwork where  people share a strong work ethic and commitment to client satisfaction. It’s both a personal and professional approach that brings confidence to our clients.</p>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Working with optimism and with demonstrated success in the mobile space means that if it can be done, our people will do it.</p>
      </div>
      
      
    </div>
  </div>
</div>
</div>
</section>
<section id="main2">
  <div class="container">
    <div class="row">
  <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;">
    <div class="prepaid-flex">
      <div class="left">
        <h2 style="font-weight:bold">Who will you <span style="color:blueviolet;">work</span> with?</h2>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">MobileNetwork is the leading enterprise solution provider in the mobile space because we believe our people to be the best in the business. </p>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">voizfonica is about Enterprise Mobility Management, IT&T Consulting, Mobile Device Management (MDM) and all of your mobility needs.</p>
      </div>
      
      
    </div>
  </div>
  <div class="col-lg-6">
      <img src="https://www.efilingbihar.com/wp-content/uploads/2017/08/about-us.jpg" alt="" width="90%" height="90%" style="padding-top: 8%;">
    </div>  
</div>
</div>
</section>
<app-footer></app-footer>