<app-header></app-header>
<div class="text" style="text-align: center;" ><h1>Join us on VoizFonica Dongle</h1></div>
<div style="background-color: rgb(198, 198, 252); background-repeat: no-repeat; background-size: cover;"><br>
  <div class="row" style="padding-bottom: 10%;" >
  <div class="col-sm-4">
  <div class="card hvr-grow-shadow">
      <h1 class="card-header"><i class='fas fa-rupee-sign'></i>399</h1>
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-arrow-down-up"></i>50GB   data</h5>
        <h5 class="card-title"><i class="bi bi-wifi"></i>200GB   data rollover</h5>
        <h5 class="card-title"><i class='fas fa-rupee-sign'></i>20/GB   for excess data</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="/recharge" class="btn btn-primary">Get Plan</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
      <div class="card hvr-grow-shadow">
          <h1 class="card-header" ><i class='fas fa-rupee-sign'></i>499</h1>
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-down-up"></i>90GB data</h5>
            <h5 class="card-title"><i class="bi bi-wifi"></i>200GB data rollover</h5>
            <h5 class="card-title"><i class='fas fa-rupee-sign'></i>20/GB for excess data</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="/recharge" class="btn btn-primary">Get Plan</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card hvr-grow-shadow">
              <h1 class="card-header"><i class='fas fa-rupee-sign'></i>599</h1>
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-arrow-down-up"></i>130GB data</h5>
                <h5 class="card-title"><i class="bi bi-wifi"></i>200GB data rollover</h5>
                <h5 class="card-title"><i class='fas fa-rupee-sign'></i>30/GB for excess data</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="/recharge" class="btn btn-primary">Get Plan</a>
              </div>
            </div>
          </div>
  
  </div>
  <br>
  <app-footer></app-footer>  