<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<section id="background">
   <div class="header"> <p>Global Services</p></div>
   <div class="para"><p> We deliver innovative solutions that enable digitalisation of enterprises around the world</p></div>
   <div class="para1"><p>Whether it is wide area network, cloud networking, data centre, cyber security or managed services, we deliver secure and seamless solutions that empower enterprises to accelerate digital transformation and to rise above the competition. </p></div>
   <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="custom-column1 hvr-float-shadow ">
          <div class="custom-column-header1">Connectivity</div>
          <div class="custom-column-content1">
            <p>
                Data infrastructure, private networks and Internet access for businesses of any size.

            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="custom-column2 hvr-float-shadow ">        
          <div class="custom-column-header2">IoT </div>
          <div class="custom-column-content2">
            Powering connected devices with VoizFonica's IoT Connectivity<br>
            platform
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="custom-column3 hvr-float-shadow ">
          <div class="custom-column-header3">Cloud and data centre services</div>
          <div class="custom-column-content3">
            Multi-cloud solutions, data centre services, and SaaS tailored to your digitalisation needs.
          </div>
        </div>
      </div>
      

      <div class="col-sm-12 col-md-4">
        <div class="custom-column4 hvr-float-shadow ">        
          <div class="custom-column-header4">Satellite</div>
          <div class="custom-column-content4">
            Fixed and mobile satellite solutions for both land and sea.
          </div>
        </div>
      </div>
        
      <div class="col-sm-12 col-md-4">
        <div class="custom-column5 hvr-float-shadow ">        
          <div class="custom-column-header5">Cybersecurity</div>
          <div class="custom-column-content5">
            World-class cybersecurity to protect our business.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="custom-column6 hvr-float-shadow r">        
          <div class="custom-column-header6">Managed Services</div>
          <div class="custom-column-content6">
            Managed Services
Solutions that take the day-to-day complexities of running an ICT infrastructure out of your hands so you can focus on growing your business
          </div>
        </div>
      </div>

    </div>
  </div>
</section>  
<br>
<app-footer></app-footer>
