<app-header></app-header>
<section style="background-color: azure;">
    <br>
<h3><div style="text-align: center; font-style:initial; padding-top: 0%;">Select from our Best Selling Postpaid Plans</div></h3>
<div style="background-color: azure; background-repeat: no-repeat; background-size: cover;"><br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card hvr-float-shadow"> 
        <div class="card-body">
          <h2 class="card-title"><i class='fas fa-rupee-sign'></i>999</h2><h5>Validity: 84 days</h5>
          <p class="card-text">
            <i class="bi bi-sim"></i>
            1 Regular SIM <br>
            <i class="bi bi-wifi"></i>
            150 GB Per Month <br>
            <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
            Unlimited Local, STD & Roaming Calls
              <br>
              <i class='fas fa-comment-alt' style='font-size:16px'></i>
        150SMS per day<br>

        

          
          <i class="bi bi-plus-circle"></i>
           Additional Benefits<br>
           <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
            DisneyplusHotstart for 3 months 
        </p>

          <a href="/recharge" class="btn btn-primary">Get Plan</a>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card hvr-float-shadow">
        <div class="card-body">
          <h2 class="card-title"><i class='fas fa-rupee-sign'></i>1599</h2><h5>Validity: 365 days</h5>
          <p class="card-text">
            <i class="bi bi-sim"></i>
            1 Regular SIM <br>
            <i class="bi bi-wifi"></i>
            250 GB Per Month <br>
            <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
            Unlimited Local, STD & Roaming Calls
              <br>
              <i class='fas fa-comment-alt' style='font-size:16px'></i>
        150SMS per day<br>
        <i class="bi bi-plus-circle"></i>
           Additional Benefits<br>
           <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
            DisneyplusHotstart for 6 months 
         <!-- <span class="glyphicon glyphicon-plus"></span>
           Free Incoming Calls<br> -->
        </p>

          <a href="/recharge" class="btn btn-primary">Get Plan</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card hvr-float-shadow">
          <div class="card-body ">
            <h2 class="card-title"><i class='fas fa-rupee-sign'></i>1999</h2><h5>Validity: 365 days</h5>
            <p class="card-text">
                <i class="bi bi-sim"></i>
           1 Regular SIM <br>
           <i class="bi bi-wifi"></i>
            300 GB Per Month <br>
                <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
            Unlimited Local, STD & Roaming Calls
                <br>
                <i class='fas fa-comment-alt' style='font-size:16px'></i>
          150 SMS per day<br>
            <!-- <span class="glyphicon glyphicon-plus"></span>
           Free Incoming Calls<br> -->
           <i class="bi bi-plus-circle"></i>
            Additional Benefits<br>
            <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
            DisneyplusHotstart for 1 year 
          </p>

            <a href="/recharge" class="btn btn-primary">Get Plan</a>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<div class="text" style="text-align: center;" ><h1>Port Mobile Number in 3 Steps</h1></div>

<div class="grid-container">
  <div style="padding-left: 10px;font-size: 100px;"><i class="bi bi-file-check"><h5>Select plan and confirm
    port-in request</h5></i></div>
  <div style="padding-left: 10px;font-size: 100px;"><i class="bi bi-people"><h5>Our executive will visit you,
    take your details and deliver your SIM</h5></i></div>
  <div style="padding-left: 10px;font-size: 100px;"><i class="bi bi-sim"><h5>Insert the activated SIM to enjoy
    VoizFonica 4G</h5></i></div>  
</div>
</section>
<br>
  <app-footer></app-footer>