<app-header></app-header>
<div class="heading">
    <h1>VoizFonica's Data Protection Policy</h1>
    </div>
    <div class="subhead">Respecting your privacy and protecting your personal data
    </div>
    <div class="para">
        <p>
            Where your personal data is covered by the General Data Protection Regulation (GDPR), please refer instead to VoizFonica's GDPR privacy policy.<br>
    
    VoizFonica collects information to understand your needs better. This helps us to improve our services and the way we communicate with you.<br>
    
    We know that privacy is important to you and we strive to be as open and transparent as possible in how we serve you.<br>
    
    We conduct our business in compliance with the Personal Data Protection Act (PDPA) and have implemented additional measures to protect your personal information.<br>
    
    VoizFonica's Data Protection Policy aims to help you understand how we collect, use, share and protect your personal information.
        </p>
    </div>
    <div class="subhead">Ways we collect your personal information
    </div>
    <div class="para">
        We may collect your personal information when you:
     <ul>
         <li>Subscribe to our services</li>
         <li>Use our network and other VoizFonica products or services</li>
         <li>Register for a specific product or service (e.g. registering your interest to purchase handsets</li>
         <li>Sign up for alerts or newsletters</li>
         <li>Contact us with a question or request for assistance</li>
         <li>Participate in a competition, lucky draw or survey</li>
         <li>Visit our websites **and applications (through the use of cookies / mobile advertising IDs and other technologies)
            **Effective from 23 October 2017</li>
     </ul>
    </div>
    <div class="subhead">
        The information we collect
    </div>
    <div class="para">
        The information we collect depends on the VoizFonica products and services you use and subscribe to. Here are key examples:
    <ul>
        <li><b>Your Identity - </b>This includes address, telephone number, e-mail address, date of birth,***any form of biometric that you may have submitted, as well as service-related information such as bank and credit card details, device ID and IP address.</li>
        <li><b>Your interaction with us - </b> For example, a note or recording of a call you make to one of our contact centres, an email or letter you send to us or other records of any contact you have with us</li>
        <li><b>Your account information - </b> For example, the subscription services you use or other details related to your account.</li>
        <li><b>Information on your use of our services - </b>  For example, the phone numbers you call or send text messages to and vice versa, as well as the date, time and duration of your calls through our network and the approximate location of your mobile device.</li>
        <li><b>Information on equipment and our network - </b> For example, information on the performance of your device on our network.</li>
        <li><b>Your preferences - </b> This is based on what you share with us on how you would like to be contacted, and your preferred products, services and lifestyle activities for example.</li>
    </ul>
    </div>
    <div class="subhead">
        How we use your information
    </div>
    <div class="para">
        We may use your information for:<br>
    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large; line-height: 0ch;">
        Provisioning & administration of services
        </p>
        <ul>
       <li>Process your orders and activate or deactivate services</li>
       <li>Enable us to process bills and payments</li>
       <li>Respond to enquiries and requests from you or people you have authorised</li>
       <li>Inform you about service upgrades and updates</li>
       <li>Provide directory assistance</li>
       <li>Facilitate interconnection and inter-operability with other telecommunications operators</li>
       <li>***Verification of identity</li>
       <li>**Store information for performing certain functions such as completing forms, facilitating website navigation, authentication, and enabling marketing and advertising technology</li>
        </ul>
    </div>
    <div class="subhead">
        Market research, network & service enhancement
    </div>
    <div class="para">
        <ul>
            <li>Conduct market research and customer satisfaction surveys to improve our customer service; develop new products, as well as personalise the services we offer you</li>
            <li>Improve our network, for example by looking at usage and mobility patterns</li>
            <li>Perform market analysis</li>
            <li>Improve your user experience based on your usage behaviour on our websites and applications</li>
        </ul>
    </div>
    <div class="subhead">
        Sharing of rewards and benefits
    </div>
    <div class="para">
        <ul>
            <li>Offer rewards and promotions, and share promotional benefits and loyalty programs which you may qualify for</li>
            <li>Provide updates, offers, invitations to events and deliver relevant advertising, including through voice, SMS and **digital advertising with your prior consent or if otherwise permitted under local laws and regulations</li>
        </ul>
    </div>
    <div class="subhead">
        Security and risk management
    </div>
    <div class="para">
        <ul>
            <li>Inform you of service and security issues</li>
            <li>Prevent and detect fraud or other crimes and recover debts</li>
            <li>Conduct internal audits *and determine creditworthiness</li>
            <li>Ensure the safety and security of our properties and systems</li>
            <li>Conduct checks against money laundering, terrorism financing and related risks</li>
    
        </ul>
    </div>
    <div class="subhead">
        Legal & regulatory requirements
    </div>
    <div class="para">
        <p>
                      Meet legal, regulatory and other requirements including providing assistance to law enforcement, judicial and other government agencies
    We will not use your personal data for purposes other than what we have informed you, or which are permitted under local laws and regulations.
    
    We will not offer, publish or share your personal data with third parties outside of the VoizFonica Group for commercial purposes, without seeking your explicit permission.
    
    We will retain your information for only as long as there is a business or legal need.
        </p>
    </div>
    <div class="subhead">
        Sharing your information
    </div>
    <div class="para">
        We may share your information with:
        <ul>
            <li>Companies in the VoizFonica Group</li>
            <li>Business partners and vendors we work with to deliver services you have subscribed to</li>
            <li>Industry regulators and other government organisations, as required by local laws and regulations</li>
             <li>Financial institutions for purposes such as facilitating GIRO payments</li>
                <li>Research institutions for market analysis purposes</li>
        
        </ul>
    </div>
    <div class="subhead">
        Protecting your information
    </div>
    <div class="para">
        We have implemented stringent measures to secure and protect your information. These include:
        <ul>
            <li>Safeguards to prevent security breaches in our network and database systems</li>
            <li>Limits on access to information in our systems and the systems of our business partners and vendors</li>
            <li>Strict verification processes to prevent unauthorised access to information</li>
        </ul>
    </div>
    <div class="subhead">
        Respecting your contact preferences
    </div>
    <div class="para">
        VoizFonica is committed to complying with the Do Not Call (DNC) provisions. We have always been mindful of engaging our customers in a more targeted and relevant way.<br>
        We may send marketing messages to your India telephone number if:
    <ul>
        <li>you have given us consent, OR</li>
        <li>you have not registered with the national DNC Registry, OR</li>
        <li>the sending of such messages is permissible under applicable laws and regulations. </li>
        
    </ul><br>
    
    Our marketing messages aim to update you about our exclusive offers, rewards programme and special deals from our preferred partners and advertisers.<br>
    If you wish to continue receiving such messages or to opt out, you can indicate your preference at any time via MyAccount . Your request will be processed within 21 days, except for marketing messages sent via bills, which will be processed in the next 2 billing cycles.
    <br>
    Please note that after opting out, you may still continue to receive non-marketing messages, such as product updates and service notices as permitted under applicable local laws and regulations.
    </div>
<br>
<app-footer></app-footer>    