<app-header></app-header>
<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5" style="padding-bottom: 5%;">
          <div class="payment">
             <div class="payment_header" style="background-color:aliceblue;">
                <div class="check" ><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Payment Success !</h1>
             </div>
             <div style="padding-left:39%;"><a href="/home" class="btn btn-primary">Go to home</a></div>
          </div>
       </div>
    </div>
 </div>

