<app-header></app-header>
<div class="text" style="text-align: center;" ><h1>Join us on VoizFonica Postpaid</h1></div>
<div style="background-color: rgb(198, 198, 252); background-repeat: no-repeat; background-size: cover;"><br>
  <div class="row" >
          <div class="col-sm-4">
            <div class="card hvr-glow">
              <div class="card-body">
                <h2 class="card-title">
                  <i class='fas fa-rupee-sign'></i>399</h2><h5>Validity:28days</h5>
                <p class="card-text">
                  <i class="bi bi-sim"></i>
                  1 Regular SIM <br>
                  <i class="bi bi-wifi"></i>
                  40 GB Per Month <br>
                  <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                    <br>
                    <i class='fas fa-comment-alt' style='font-size:16px'></i>
              100 SMS per day<br>
  
             
  
                
  
                <!-- <span class="glyphicon glyphicon-plus"></span>
                  Free Incoming Calls<br> -->
              </p>
  
                <a href="/recharge" class="btn btn-primary">Get Plan</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card hvr-glow">
              <div class="card-body">
                <h2 class="card-title"><i class='fas fa-rupee-sign'></i>499</h2><h5>Validity:84 days</h5>
                <p class="card-text">
                  <i class="bi bi-sim"></i>
                  1 Regular SIM <br>
                  <i class="bi bi-wifi"></i>
                  75 GB Per Month <br>
                  <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                    <br>
                    <i class='fas fa-comment-alt' style='font-size:16px'></i>
             100 SMS per day<br>
  
              
  
                
                <!-- <span class="glyphicon glyphicon-plus"></span>
                 Free Incoming Calls<br> -->
              </p>
  
                <a href="/recharge" class="btn btn-primary">Get Plan</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
              <div class="card hvr-glow">
                <div class="card-body">
                  <h2 class="card-title"><i class='fas fa-rupee-sign'></i>799</h2><h5>Validity:56 days</h5>
                  <p class="card-text">
                      <i class="bi bi-sim"></i>
                 1 Regular SIM <br>
                 <i class="bi bi-wifi"></i>
                  100 GB Per Month <br>
                      <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                      <br>
                      <i class='fas fa-comment-alt' style='font-size:16px'></i>
                100 SMS per day<br>
    
                
    
                 
  
                  <!-- <span class="glyphicon glyphicon-plus"></span>
                 Free Incoming Calls<br> -->
                </p>
    
                  <a href="/recharge" class="btn btn-primary">Get Plan</a>
                </div>
              </div>
            </div>
  </div>
  <br>
  
        <div class="row">
          <div class="col-sm-4">
            <div class="card hvr-glow">
              <div class="card-body">
                <h2 class="card-title"><i class='fas fa-rupee-sign'></i>999</h2><h5>Validity: 84 days</h5>
                <p class="card-text">
                  <i class="bi bi-sim"></i>
                  1 Regular SIM <br>
                  <i class="bi bi-wifi"></i>
                  150 GB Per Month <br>
                  <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                    <br>
                    <i class='fas fa-comment-alt' style='font-size:16px'></i>
              150SMS per day<br>
  
              
  
                
                <i class="bi bi-plus-circle"></i>
                 Additional Benefits<br>
                 <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                  DisneyplusHotstart for 3 months 
              </p>
  
                <a href="/recharge" class="btn btn-primary">Get Plan</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card hvr-glow">
              <div class="card-body">
                <h2 class="card-title"><i class='fas fa-rupee-sign'></i>1599</h2><h5>Validity: 365 days</h5>
                <p class="card-text">
                  <i class="bi bi-sim"></i>
                  1 Regular SIM <br>
                  <i class="bi bi-wifi"></i>
                  250 GB Per Month <br>
                  <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                    <br>
                    <i class='fas fa-comment-alt' style='font-size:16px'></i>
              150SMS per day<br>
              <i class="bi bi-plus-circle"></i>
                 Additional Benefits<br>
                 <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                  DisneyplusHotstart for 6 months 
               <!-- <span class="glyphicon glyphicon-plus"></span>
                 Free Incoming Calls<br> -->
              </p>
  
                <a href="/recharge" class="btn btn-primary">Get Plan</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
              <div class="card hvr-glow">
                <div class="card-body">
                  <h2 class="card-title"><i class='fas fa-rupee-sign'></i>1999</h2><h5>Validity: 365 days</h5>
                  <p class="card-text">
                      <i class="bi bi-sim"></i>
                 1 Regular SIM <br>
                 <i class="bi bi-wifi"></i>
                  300 GB Per Month <br>
                      <i class='fas fa-phone-square-alt' style='font-size:16px'></i>
                  Unlimited Local, STD & Roaming Calls
                      <br>
                      <i class='fas fa-comment-alt ' style='font-size:16px'></i>
                150 SMS per day<br>
                  <!-- <span class="glyphicon glyphicon-plus"></span>
                 Free Incoming Calls<br> -->
                 <i class="bi bi-plus-circle hvr-icon-forward"></i>
                  Additional Benefits<br>
                  <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
                  DisneyplusHotstart for 1 year 
                </p>
    
                  <a href="/recharge" class="btn btn-primary ">Get Plan</a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <app-footer></app-footer>