<app-header></app-header>
<div class="heading">
    <h1>Terms of Use</h1>
</div>
<div class="para">
    <p>
        By using any of the websites (each a “Site”) operated by or for and on behalf of VoizFonica Telecommunication Ltd, in any way, you agree to be bound by the following Terms of Use (“Terms”). We may modify these Terms at any time at our sole discretion, and such modifications shall be effective immediately upon posting of the modified Terms. You agree to review the Terms periodically to be aware of such modifications and your continued access to or use of the Site shall be deemed your conclusive acceptance of the modified Terms. The term “VoizFonica” (or “we”, “our” and “us”) includes all members, subsidiaries and affiliates of the VoizFonica Group, their respective subsidiaries and affiliates, as well as their successors and assigns. 

    </p>
</div>
<div class="subhead">
    1.  Registration, Password, Security and Cookies
</div>
<div class="para1">
    <p>
        If any portion of the Site requires you to register or open an account, you must provide us with accurate, complete and updated registration information. You may also be asked to choose a login name and a password. Please select a password that would not be obvious to someone trying to guess your password.<br>
        You shall not disclose to any person your password and shall not permit or authorize any person to use your login name or password for any purpose whatsoever.<br>
        VoizFonica may treat any access to or use of the Site at any time by the use of your login name and password as access to or use of the Site by you, notwithstanding that it may have been used by any other person without your knowledge or authority. <br>
        Upon learning that any person has acquired knowledge of your password or has used your password to access or use the Site or effect any transaction (whether with or without your knowledge and consent), you shall <br>
    </p>
</div>
<div class="para2">
        <ul>
            <li> immediately notify VoizFonica thereof</li>
            <li> at VoizFonica’s request, make a police report thereof;</li>
            <li>provide VoizFonica with any other information relating thereto as Voizfonica may 
                require; and 
         </li>
         <li> immediately change the password</li>
        </ul>

</div>
<div class="para1">
    <p>
        VoizFonica takes certain industry-accepted precautions to secure the Site or portions thereof. However, you agree that such precautions do not guarantee that use of the Site is invulnerable to all security breaches, nor does VoizFonica make any warranty, guarantee, or representation that use of the Site is protected from all viruses, worms, Trojan horses, and other vulnerabilities. 
        <br>
        During your use of the Site, we may issue to and request from your computer blocks of data known as “cookies” to enable more convenient browsing when you revisit the Site. A cookie is a type of data which is sent from the Site to your Internet browser software, and is stored on your computer. Storing cookies does not have any adverse effect on your computer. You must not alter any cookies sent to your computer from the Site and you must ensure that your computer sends correct and accurate cookies in response to any relevant request from the Site.
    </p>
</div>
<div class="subhead">
    2.Privacy 
</div>
<div class="para1">
    <p>
        When you access the Site, we may collect the following information:
    </p>

</div>
<div class="para2">
    <ul>
        <li>Anonymous web statistics collected as you browse the Site</li>
        <li>Personal information you knowingly provide us
        </li>
    </ul>
</div>
<div class="para1">
    <p>
        Some portions of the Site may require that you provide your personal information. Personal information refers to all and any information relating to you (including, but not limited to your name, contact number, email address and mailing address) obtained by us via your access to or use of this Site.
        <br>
        We may use your personal information for planning, research, design and marketing of services, rendering assistance to law enforcement, government or regulatory agencies, or complying with any applicable laws or any order of court.<br>
        Any information disclosed in the public areas of the Site (such as message boards and forums) becomes public information. You should exercise caution when disclosing your personal information in this way.
 
    </p>

</div>
<div class="subhead">
    3.Content and Related User Conduct

</div>
<div class="para1">
    <p>
        You understand that you are responsible for any content that you post or transmit on or through the Site.
        <br>
        You agree not to cause, nor knowingly allow others to cause, any nuisance, annoyance, or inconvenience, whether to Singtel or any of its customers or users of the Site by any means.<br>
        You agree to use the Site in a manner consistent with all applicable laws and regulations. Specifically, you will not use the Site to post, transmit, distribute, link to, or solicit content that:

    </p>

</div>
<div class="para2">
    <ul>
         <li>contains any advertising and promotional message;</li>
         <li> violates or infringes any laws, regulatory requirements or codes applicable in Singapore;
        </li>
        <li> infringes or violates any copyright, trademark or any other intellectual property, personal or proprietary rights of any person, or violates any obligation of confidence or any other proprietary righ</li>
        <li>contains any obscene, offensive, defamatory or otherwise actionable material</li>
        <li>undermines the security or integrity of the Site, including without limitation by importing any viruses, Trojan horses, time bombs or other disabling devices intended to detrimentally interfere, damage, surreptitiously intercept or expropriate such equipment, systems or networks;</li>
        <li>contains any errors, whether technical or otherwise; or </li>
        <LI>contains any material in any form that would otherwise render Singtel liable or expose Singtel to any proceedings whatsoever</LI>
    </ul>
</div>
<br>
<app-footer></app-footer>
