<app-header></app-header>
<section class="vh-100 gradient-custom" style="padding-bottom: 80%;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">New Simcard At Your Doorsteps</h3>
            <form>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="firstName">First Name</label> -->
                  </div>

                </div>
                
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="lastName">Last Name</label> -->
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                    <!-- <label for="birthdayDate" class="form-label">Birthday</label> -->
                  </div>

                  

                </div>

                
                <div class="col-md-6 mb-4">

                  <h5 class="mb-2 pb-1">Gender: </h5>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" checked />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                      value="option3" />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="emailAddress">Email</label> -->
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Address</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="emailAddress">Email</label> -->
                  </div>
  
                </div>
                
  
                 
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="emailAddress">State</label>
                      <select class="select" id="form3Example8" class="form-control">
                        <option value="1">State</option>
                        <option value="2">Andhra Pradesh</option>
                        <option value="3">Arunachal Pradesh</option>
                        <option value="4">Assam</option>
                        <option value="5">Bihar</option>
                        <option value="6">Chhattisgarh</option>
                        <option value="7">Goa</option>
                        <option value="8">Gujarat</option>
                        <option value="9">Haryana</option>
                        <option value="10">Himachal Pradesh</option>
                        <option value="11">Jammu and Kashmir</option>
                        <option value="12">Karnataka</option>
                        <option value="13">Kerala</option>
                        <option value="14">Maharashtra</option>
                        <option value="15">Manipur</option>
                        <option value="16">Nagaland</option>
                        <option value="17">Odisa</option>
                        <option value="18">Punjab</option>
                        <option value="19">Rajasthan</option>
                        <option value="20">Tamil Nadu</option>
                        <option value="21">Telangana</option>
                        <option value="22">Uttarakhand</option>
                        <option value="23">Uttar Pradesh</option>
                        <option value="24">West Bengal</option>
                       </select>
                    </div>
                    </div>
                  
                    <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example90">Pincode</label>
                    <input type="text" id="form3Example90" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="form3Example90">Pincode</label> -->
                  </div>
                  </div>
  
                </div>
           
  
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="form3Example8" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">Address</label>
                </div> -->
  
                <div class="row">
                  <div class="col-12">
                    <label class="form-label select-label">Simcard Type</label><br>
  
                    <select class="select form-control-lg">
                      <option value="1">Select Your Simcard</option>
                      <option value="2">Prepaid</option>
                      <option value="3">Postpaid</option>
                      <!-- <option value="4">Subject 3</option> -->
                    </select>
                    <!-- <label class="form-label select-label">Simcard Type</label> -->
  
                  </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <app-footer></app-footer>