<app-header></app-header>
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel" style="padding-top: 3%;">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active" style="opacity: 0%;"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1" class="active" style="opacity: 0%;" ></li>
       
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5" style="background-image:url(https://th.bing.com/th/id/OIP.OQ79Gsr12agrJg0nynfCDwHaEK?pid=ImgDet&rs=1);background-repeat: no-repeat;background-size: cover;">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.ytimg.com/vi/iaaRJNKLCFQ/maxresdefault.jpg" style="border-radius:40%;height: 328px;" alt="">
                    </div>
                    
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b><div style="color: rgb(255, 213, 164);"> VoizFonica</div></b></h1>
                            <h3 class="h2" > <div style="color: rgb(255, 242, 242);"> LIVE IN THE NOW  <i class="bi bi-reception-4"></i></div> </h3>
        
                            <h5><div style="color: rgb(248, 248, 248);">
                             Superfast & Reliable <br>
                             <i class="bi bi-wifi"></i> Internet with up to 1 Gbps speed! <br>
                             Plan Starting at ₹239
                             
                             
                            
                            </div></h5>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5" style="background-image: url(https://th.bing.com/th/id/OIP.0tY4s1xYYp907HeBg8VsowHaEo?w=293&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7); background-repeat: no-repeat;background-size: cover;">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/001/222/566/original/female-delivery-person-concept-vector.jpg" style="border-radius:70%;" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1" style="color: black;"><i class="bi bi-house-heart-fill"></i>FREE DELIVERY FOR YOU</h1>
                            <h3 class="h2" style="color: rgb(102, 30, 30);">Get postpaid <i class="bi bi-sim-fill"></i> SIM at your doorstep & activate at home  </h3>
                            <!-- <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p> -->
                            <!-- <button type="button" class="btn btn-primary" href="" style="background-color: #da2727;">Buy Now</button> -->
                            <a href="/simcard" class="btn btn-primary" style="background-color: #f30707;" >Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left" style="color: black; font-size: xx-large;"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3 " href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right" style="color: black; font-size: xx-large;"></i>
    </a>
  </div>
</div>
<br>
  <section id="prepaid-main">
    <div class="container">
      <div class="row">
    <div class="col-lg-8" style="padding-left:10%;padding-top: 8%;">
      <div class="prepaid-flex">
        <div class="left">
          <h2><span class="heading" style="text-decoration:none;color: rgb(0, 0, 0);">VoizFonica <i class="bi bi-vimeo"></i> <i>enerate</i></span></h2>
          <br>
          <h5 style="color: rgb(12, 12, 12);">Enjoy first <h3 style="color: #f30707;">30 DAYS FREE <i class="bi bi-gift-fill"></i></h3>of a new service with VoizFonica Venerate.
            <p>
              VoizFonica Venerate lets you combine postpaid & dongle into one plan.
              Get a plan that's perfect for you & your family <i class="bi bi-chat-square-heart-fill"></i>
            </p>
          </h5>
        </div>
        <br>
        <a href="/venerate" class="btn btn-dark">EXPLORE VOIZFONICA<i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-lg-6" >
      <!-- <img src="https://img.freepik.com/free-vector/e-wallet-concept-illustration_114360-7561.jpg?w=740&t=st=1662795690~exp=1662796290~hmac=7e97295df111130094277a6684b4f11b3ec5f40c88610b2d1dd08a2104bdb5f0" alt="" width="90%" height="90%" style="border-radius:70%;"> -->
    </div>
      
  </div>
  </div>
  </section>
  <br>
  <section style="background-color: white;">
    <h2><div style="text-align: left; font-style:initial; padding-top: 2%; padding-left: 5%; padding-bottom: 0%;">EXPERIENCE OUR SERVICES</div></h2>
    <div style="background-color: white; background-repeat: no-repeat; background-size: cover;padding-bottom: 3%; padding-left: 5%;"><br>
      <div class="row">
        <!-- <a href="/simcard"> -->
        <div class="col-sm-3">
          <div class="card hvr-float-shadow" style="padding-left: 2%;"> 
            <a href="/simcard">
            <div class="card-body">
              <h2 class="card-title"><div style="font-size: 80px;"><i class="bi bi-sim"></i></div></h2>
              <p class="card-text">
               Buy Prepaid      
            </p>
    
              <!-- <a href="/recharge" class="btn btn-primary">Get Plan</a> -->
              
            </div>
          </a>
          </div>
        </div>
      <!-- </a>
      <a href="/simcard"> -->
        <div class="col-sm-3">
          <div class="card hvr-float-shadow">
            <a href="/simcard">
            <div class="card-body">
              <h2 class="card-title"><div style="font-size: 80px;"><i class="bi bi-sim"></i></div></h2>
              <p class="card-text">
                Buy Postpaid
            </p>
    
              <!-- <a href="/recharge" class="btn btn-primary">Get Plan</a> -->
            </div>
            </a>
          </div>
        </div>
      <!-- </a> -->
    
        <div class="col-sm-3">
            <div class="card hvr-float-shadow">
              <a href="/portvoiz">
              <div class="card-body ">
                <h2 class="card-title"><div style="font-size: 60px;"><i class="bi bi-arrow-down-square-fill"></i></div></h2>
                <p class="card-text">
                    Port to <br>
                    VoizFonica
              </p>
    
                <!-- <a href="/recharge" class="btn btn-primary">Get Plan</a> -->
              </div>
              </a>
            </div>
          </div>
  
          <div class="col-sm-3">
            <div class="card hvr-float-shadow">
              <a href="/postpaid">
              <div class="card-body ">
                <h2 class="card-title"><div style="font-size: 60px;"><i class="bi bi-arrow-left-right"></i></div></h2>
                <p class="card-text">
                    Prepaid to <br>
                    Postpaid
              </p>
    
                <!-- <a href="/recharge" class="btn btn-primary">Get Plan</a> -->
              </div>
             </a>
            </div>
          </div>
  
      </div>
    </div>
   
    </section>




<section id="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" style="padding-top: 3%;">
            <img src="https://th.bing.com/th/id/OIP.UDtqToGZ42AxpScALzG5UQAAAA?pid=ImgDet&w=212&h=212&c=7&dpr=1.5" alt="" width="90%" height="90%" style="border-radius:60%;">
          </div>  
    <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;">
      <div class="prepaid-flex">
        <div class="left">
          <h4><span class="heading" style="font-style: oblique;color: #8d0331;">PORT TO VOIZFONICA <i class="bi bi-airplane-engines-fill"></i></span></h4>
          
          <h2>
            <br>
            SWITCH TO VOIZFONICA WITHOUT CHANGING YOUR MOBILE NUMBER <i class="bi bi-phone-flip"></i>
          </h2>      
        </div>
        <br>
        <a href="/portvoiz" class="btn btn-dark">VIEW PLANS<i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
  </div>
  </section>
<br>
  <app-footer></app-footer>